#Back files
*.*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Stuff built by rosmake
*/build
*/bin
*/lib/*.so
*/msg_gen
*/catkin
*/catkin_generated
*/cmake_install.cmake
*/CATKIN_IGNORE


#Stuff added by make eclipse-project
*.project
*.pydevproject
*.cproject

