<launch>
    <!-- Parameters to define which camera should be used -->
    <arg name="use_imec" default="false"/>
    <arg name="use_ximea" default="false"/>
    <arg name="gui" default="false"/>
    <group ns="imec" if="$(arg use_imec)">
        <!-- Grab raw data from the camera -->
        <node pkg="imec_driver" type="cube_data.py" name="cube_processor_imec" output="screen">
            <param name="camera_model" value="imec"/>
        </node>
    </group>
    <group ns="ximea" if="$(arg use_ximea)">
        <!-- Grab raw data from the camera -->
        <node pkg="imec_driver" type="cube_data.py" name="cube_processor_ximea" output="screen">
            <param name="camera_model" value="ximea"/>
        </node>
    </group>
    <group ns="gui" if="$(arg gui)">
        <node pkg="imec_driver" type="GUI.py" name="hsi_gui" output="screen">
        </node>
    </group>
    
    <!-- TODO MOVE THIS GUI INTO THE MAIN APPLICATION! -->
    <!-- Optionally launch RVIZ to view the data topics -->
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find imec_driver)/rviz_configs/camera_visualize.rviz" if="$(arg gui)"/> -->
</launch>