<launch>
    <!-- Parameters to define which camera should be used -->
    <arg name="use_imec" default="false"/>
    <arg name="use_ximea" default="false"/>
    <arg name="gui" default="false"/>
    <group ns="imec" if="$(arg use_imec)">
        <!-- Grab raw data from the camera -->
        <node pkg="hsi_driver" type="cube_data.py" name="cube_processor_imec" output="screen">
            <param name="camera_model" value="imec"/>
            <param name="frame_rate" value="60"/>
            <param name="integration_time" value="10"/>
        </node>
    </group>
    <group ns="ximea" if="$(arg use_ximea)">
        <!-- Grab raw data from the camera -->
        <node pkg="hsi_driver" type="cube_data.py" name="cube_processor_ximea" output="screen">
            <param name="camera_model" value="ximea"/>
            <param name="frame_rate" value="60"/>
            <param name="integration_time" value="10"/>
        </node>
    </group>
    <node pkg="hsi_driver" type="hsi_hist.py" name="hsi_hist" output="screen">
        <param name="camera_model" value="ximea"/>
    </node>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find hsi_driver)/rviz_configs/hsi_default.rviz" if="$(arg gui)"/>
  </launch>
