<launch>
    <!-- Parameters to define which camera should be used -->
    <arg name="use_imec" default="false"/>
    <arg name="use_ximea" default="false"/>
    <arg name="gui" default="false"/>
    <arg name="use_bag" default="false"/>
    <group ns="imec" if="$(arg use_imec)">
        <!-- Grab raw data from the camera -->
        <node pkg="hyper_drive" type="cube_data.py" name="cube_processor_imec" output="screen">
            <param name="camera_model" value="imec"/>
            <param name="frame_rate" value="10"/>
            <param name="integration_time" value="70"/>
        </node>
        <node pkg="hyper_drive" type="undistort_hypercubes.py" name="cube_correct_imec" output="screen">
            <param name="camera_model" value="imec"/>
        </node>
    </group>
    <group ns="ximea" if="$(arg use_ximea)">
        <!-- Grab raw data from the camera -->
        <node pkg="hyper_drive" type="cube_data.py" name="cube_processor_ximea" output="screen">
            <param name="camera_model" value="ximea"/>
            <param name="frame_rate" value="30"/>
            <param name="integration_time" value="15"/>
        </node>
        <node pkg="hyper_drive" type="undistort_hypercubes.py" name="cube_correct_ximea" output="screen">
            <param name="camera_model" value="ximea"/>
        </node>
    </group>
    <node pkg="hyper_drive" type="hsi_hist.py" name="GUI_renderer" output="screen" if="$(arg gui)"/>
    <node pkg="hyper_drive" type="combined_cube_data.py" name="cube_combiner" output="screen"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find hyper_drive)/rviz_configs/hsi_default.rviz" if="$(arg gui)"/>
  </launch>
